/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#darkModeToggle {
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Home and About Section */
#home, #about {
    padding: 20px;
    text-align: center;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects li {
    margin: 10px 0;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Connect with Me Section */
#about ul li {
    margin: 10px 0;
}

#about ul li a {
    color: #1a73e8;
    text-decoration: none;
}

#about ul li a:hover {
    text-decoration: underline;
}
